.font-700 {
    font: 700 56px / 56px Relawey, sans-serif
}

@media only screen and (min-width: 992px) {
    .font-700 {
        font: 700 65px / 65px Relawey, sans-serif
    }
}

@media only screen and (min-width: 1200px) {
    .font-700 {
        font: 700 90px / 90px Relawey, sans-serif
    }
}

body {
    color: #262626;
    font: 500 16px / 27px Relawey, sans-serif
}

.affix {
    position: fixed !important;
    margin-top: -40px;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    background: #fff !important
}

.navbar-default {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 50px;
    background: #fff;
    transition: box-shadow 500ms, background 80ms
}

.navbar-default .navbar-nav {
    margin-top: 6px
}

@media only screen and (min-width: 768px) {
    .navbar-default {
        background: 0 0
    }

    .navbar-default .active a {
        box-shadow: inset 0 3px 0 #ff6033
    }
}

.navbar-default .navbar-nav > li > a {
    font: 700 16px / 25px Raleway, sans-serif;
    padding: 11px 3px;
    text-align: center;
    text-transform: uppercase;
    color: #262626
}

@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        background-color: transparent;
        margin: 0 8px
    }

    .navbar-default .navbar-nav > li > a:hover {
        box-shadow: inset 0 3px 0 #ff6033
    }
}

.navbar-default .navbar-header {
    padding-bottom: 8px
}

@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: transparent;
        color: #262626
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #262626;
    width: 26px
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px
}

.navbar-default .navbar-toggle .navbar-toggle {
    width: 50px;
    height: 50px
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0
}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        padding: 0
    }
}

.navbar-collapse {
    border: none
}

.navbar-nav a:active, .navbar-nav a:hover {
    text-shadow: 2px 1px 2px #aaa
}

@media only screen and (min-width: 768px) {
    .navbar-nav a:active, .navbar-nav a:hover {
        background-color: transparent;
        text-shadow: none
    }
}

section {
    text-align: center
}

section h1, section h2, section h3 {
    font: 700 56px / 56px Relawey, sans-serif;
    margin-top: 50px;
    margin-bottom: 30px
}

@media only screen and (min-width: 992px) {
    section h1, section h2, section h3 {
        font: 700 65px / 65px Relawey, sans-serif
    }
}

@media only screen and (min-width: 1200px) {
    section h1, section h2, section h3 {
        font: 700 90px / 90px Relawey, sans-serif
    }
}

.btn {
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    border-radius: 0;
    width: 200px;
    height: 55px;
    line-height: 20px;
    padding: 15px 25px;
    font: 300 17px / 26px Raleway, sans-serif;
    color: #fff
}

.btn:active, .btn:focus, .btn:hover {
    color: #fff
}

.btn:active, .btn:hover {
    font-weight: 700
}

#header-section {
    position: relative;
    min-height: 100vh;
    background: url(../images/bg_header.jpg) top center/cover no-repeat #fff
}

#header-section .btn {
    background-color: #ff6033;
    margin-top: 30px;
    margin-bottom: 120px
}

#header-section h1 {
    font-size: 46px;
    line-height: 46px;
    margin: 0 0 34px
}

@media only screen and (min-width: 992px) {
    #header-section h1 {
        font-size: 60px
    }
}

#header-section .page-header {
    padding-top: 180px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 28%, #fff 82%, rgba(255, 255, 255, .05) 98%, rgba(255, 255, 255, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 28%, #fff 82%, rgba(255, 255, 255, .05) 98%, rgba(255, 255, 255, .05) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 28%, #fff 82%, rgba(255, 255, 255, .05) 98%, rgba(255, 255, 255, .05) 100%);
    filter: progid:DXIageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#0dffffff', GradientType=0)
}

@media only screen and (min-width: 768px) {
    #header-section .page-header {
        padding-left: 30px;
        padding-top: 300px;
        background: 0 0;
        text-align: left
    }

    #header-section .page-header p {
        width: 368px
    }
}

#header-scroll-button {
    position: absolute;
    width: 24px;
    height: 40px;
    background: url(../images/scroll.png);
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    cursor: pointer
}

.rotated {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg)
}

#about {
    background-color: #00c4c4;
    color: #fff;
    padding-bottom: 35px
}

#about .about-img {
    margin-top: 30px;
    width: 100%;
    max-width: 566px
}

@media only screen and (min-width: 768px) {
    #about {
        text-align: left
    }
}

@media only screen and (min-width: 992px) {
    #about h2 {
        margin-top: 80px
    }
}

@media only screen and (min-width: 1200px) {
    #about h2 {
        margin-top: 130px
    }

    #about .about-header {
        width: 500px;
        margin: 0 auto
    }
}

#services {
    background-color: #70bfff;
    padding: 40px 0 50px
}

#services .offers-btn-block {
    padding-top: 50px
}

#services .offer-block {
    display: block;
    font: 700 16px / 24px Raleway, sans-serif;
    position: relative;
    margin: 0 auto 20px;
    background-color: #fff;
    width: 90%;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    color: #262626;
    text-decoration: none
}

@media only screen and (min-width: 768px) {
    #services .offer-block {
        font: 700 20px / 27px Raleway, sans-serif
    }
}

#services .offer-block::after {
    content: ' ';
    display: block;
    position: absolute;
    right: 80px;
    top: 0;
    background: #9d9d9d;
    width: 1px;
    height: 100%
}

@media only screen and (min-width: 768px) {
    #services .offer-block::after {
        right: 100px
    }
}

#services .offer-block:hover .offer-ico {
    transform: rotateZ(360deg)
}

#services .offer-block .offer-label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%;
    padding-left: 10px;
    padding-right: 80px
}

@media only screen and (min-width: 768px) {
    #services .offer-block .offer-label {
        padding-right: 110px
    }
}

#services .offer-block .offer-ico {
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 600ms
}

@media only screen and (min-width: 768px) {
    #services .offer-block .offer-ico {
        width: 99px
    }
}

#services .offer-block .ico-shopping {
    background-image: url(../images/shopping-icon.png)
}

#services .offer-block .ico-quality {
    background-image: url(../images/quality-icon.png)
}

#services .offer-block .ico-delivery {
    background-image: url(../images/delivery-icon.png)
}

#services .offer-block .ico-organisation {
    background-image: url(../images/organization-icon.png)
}

#services .services-img {
    background: url(../images/bg_services.png) top center/contain no-repeat;
    height: 300px;
    margin-bottom: 60px;
    color: #fff
}

@media only screen and (min-width: 768px) {
    #services .services-img {
        height: 400px
    }
}

#services .services-img h2 {
    padding-top: 170px;
    font-size: 54px
}

@media only screen and (min-width: 768px) {
    #services {
        padding-bottom: 80px
    }
}

@media only screen and (min-width: 992px) {
    #services .offer-block {
        width: 400px;
        float: right;
        margin-right: 80px
    }

    #services .services-img {
        text-align: left
    }
}

#gallery {
    background-color: #ffe92f;
    padding-bottom: 60px
}

#gallery img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    transition: filter 330ms, -webkit-filter 330ms
}

#gallery .btn {
    background-color: #5585a2;
    margin-top: 50px
}

#gallery [class^=col]:not(.no-padding) {
    padding: 0 10px
}

#gallery .row {
    margin-top: 15px
}

#gallery .no-padding {
    padding: 0
}

#gallery .no-padding:last-child {
    padding-top: 16px
}

@media only screen and (min-width: 768px) {
    #gallery .gallery-header {
        width: 577px
    }
}

#subscribe {
    background: url(../images/bg_subscribe.jpg) center top no-repeat #fff;
    background-size: 500px auto;
    min-height: 500px;
    padding-bottom: 60px
}

#subscribe .subscribe-header {
    margin-top: 360px;
    margin-bottom: 34px;
    font: 700 38px / 38px Raleway, sans-serif
}

#subscribe .subscribe-paragraph {
    display: block;
    margin-bottom: 30px
}

#subscribe .subscribe-email-input {
    height: 55px;
    width: 80%;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #4e4e4e;
    text-align: center
}

#subscribe .btn {
    margin-top: 30px;
    background-color: #96b92c;
    width: 170px
}

@media only screen and (min-width: 768px) {
    #subscribe {
        background-position: right 0;
        background-size: 320px auto
    }

    #subscribe .subscribe-header, #subscribe .subscribe-paragraph {
        text-align: left;
        width: 541px
    }

    #subscribe .subscribe-header {
        margin-top: 145px
    }

    #subscribe .subscribe-email-input {
        text-align: left;
        width: 100%
    }

    #subscribe .btn {
        float: left;
        margin-top: 0;
        margin-bottom: 60px
    }
}

@media only screen and (min-width: 992px) {
    #subscribe {
        background-size: 500px auto;
        background-position: right center
    }
}

#blog {
    background-color: #b07cf7;
    color: #fff;
    padding-bottom: 60px
}

#blog .blog-header {
    margin-bottom: 20px
}

@media only screen and (min-width: 768px) {
    #blog .blog-header {
        width: 563px
    }
}

#blog .blog-post {
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
    overflow: hidden
}

#blog .blog-post:hover .blog-post-caption {
    transform: translate3d(0, -100%, 0)
}

#blog .blog-post:hover .blog-post-date {
    opacity: 1
}

#blog .blog-post-img {
    width: 100%
}

#blog .blog-post-date {
    position: absolute;
    left: 8%;
    top: 8%;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, .5);
    opacity: 0;
    transition: opacity 500ms
}

#blog .blog-post-date .date-day, #blog .blog-post-date .date-month {
    margin: 0;
    font-weight: 800;
    line-height: 16px
}

#blog .blog-post-date .date-day {
    font-size: 32px;
    line-height: 35px
}

#blog .blog-post-date .date-month {
    font-size: 21px
}

#blog .blog-post-caption {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    top: 100%;
    padding: 0 20px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e6000000', GradientType=0);
    transition: transform 600ms
}

#blog .blog-post-caption h4 {
    margin-top: 34px;
    line-height: 25px
}

#blog .blog-post-caption p {
    font-size: 13px;
    color: #b2b2b2
}

#blog .blog-post-caption .blog-post-footer {
    position: absolute;
    bottom: 0
}

#blog .btn {
    background-color: #f72b3b;
    margin-top: 50px
}

#contact {
    background: url(../images/bg_contact.jpg) 0 0/cover;
    padding-bottom: 60px
}

#contact .contact-header {
    margin-bottom: 20px
}

#contact #form-contact input, #contact textarea {
    font-size: 15px;
    width: 100%;
    padding: 0 20px;
    line-height: 50px;
    border: 0;
    background-color: rgba(0, 196, 196, .5);
    margin-bottom: 15px;
    color: #fff
}

#contact #form-contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
    color: #fff
}

#contact #form-contact input:focus, #contact textarea:focus {
    border-left: 5px solid #355b82;
    padding-left: 15px;
    font-weight: 700
}

#contact textarea {
    padding-top: 20px;
    height: 250px;
    max-width: 100%;
    line-height: 18px
}

#contact address {
    width: inherit;
    margin: 0 auto
}

#contact address p, #contact address span {
    color: #fff
}

#contact address span {
    font: 700 17px / 25px Raleway, sans-serif
}

@media only screen and (min-width: 768px) {
    #contact .contact-header {
        width: 360px
    }

    #contact address {
        text-align: left
    }

    #contact address p, #contact address span {
        color: #262626
    }
}

.page-footer {
    background-color: #262626;
    color: #b9b9b9;
    padding: 20px 0
}

.page-footer p {
    margin: 0
}

.page-footer .footer-bar div {
    text-align: center;
    line-height: 30px
}

.page-footer .footer-logo {
    width: 64px;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .page-footer .footer-author {
        text-align: right
    }

    .page-footer .footer-copy {
        text-align: left
    }
}